.cards__item {
  width: 240px;
  margin-right: 100px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.cards__item:last-of-type {
  margin-right: 0;
}
.cards__item:nth-of-type(3n) {
  margin-right: 0;
}
